tensorflow<2 # `tensorflow.contrib` removed
numpy
scipy<1.2 # `scipy.misc.imread` removed
nltk
pillow
distance
six
click
matplotlib
scikit-image
opencv-python
imageio
Shapely
imgaug
protobuf<4 # https://protobuf.dev/news/2022-05-06/
